body {
    background-color: #ebe0d2;
    overflow-x: clip !important;
    font-family:'Courier New', Courier, monospace;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-weight:bold;
    text-align: center;
}

.head img {
    display: flex;
    border-radius: 8px;
    width: 15%;
}

.bio {
    display: flex;
    margin-top: 10px;
    width : 70%;
}

.socials {
    display: flex;
    gap: 20px;
    width: 70%;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.socials a {
    color: inherit;
}

.socials i {
    font-size: 1.3rem;
    color: #001324;
    transition: 1s;
}

.socials i:hover {
    transform: translateY(-2px);
}

@keyframes skillfloat1 {
    from {
        transform: translateY(0px) rotate(0deg);
    }
    to {
        transform: translateY(30px) rotate(10deg);
    }
}

@keyframes skillfloat2 {
    from {
        transform: translateY(30px) rotate(0deg);
    }
    to {
        transform: translateY(0px) rotate(-10deg);
    }
}

.skills {
    width: 100%;
    margin-top: 2%;
    font-size: 2rem;
    color: #001324;
}

.skillfloat1 {
    animation: 2s infinite alternate skillfloat1;
}

.skillfloat2 {
    animation: 2s infinite alternate skillfloat2;
}

.scrolldown a {
    color: inherit;
}

.scrolldown {
    display: flex;
    font-size: 1.3rem;
    position: absolute;
    bottom: 10px;
    left: 50%;
    color: #001324;
}

.scrolldown:hover {
    animation: 1s bump;
}

@keyframes bump {
    0% {
        transform: translateY(0px)
    }
    10% {
        transform: translateY(-8px)
    }
    20% {
        transform: translateY(-0px)
    }
    30% {
        transform: translateY(-4px)
    }
    40% {
        transform: translateY(-0px)
    }
    40% {
        transform: translateY(-3px)
    }
    50% {
        transform: translateY(-0px)
    }
    60% {
        transform: translateY(-2px)
    }
    70% {
        transform: translateY(-0px)
    }
    80% {
        transform: translateY(-1px)
    }
    90% {
        transform: translateY(-0px)
    }
    100% {
        transform: translateY(-0.5px)
    }
}

#projects {
    display: flex;
    width: 100vw;
    height: 100vh;
    font-weight: bold;
}

.tile {
    width: 20vw;
    margin-top: 10px;
}

.tile img {
    width: 100%;
}

.nomobile {
    display: none;
}

.darwin {
    position: fixed;
    right: 0;
    bottom: 0;
    rotate: -50deg;
    z-index: 998;
    transform: translateY(100%);
    transition: 1s;
}

.darwin:hover {
    position: fixed;
    right: 0;
    bottom: 0;
    rotate: -50deg;
    z-index: 998;
    transform: translateY(60%);
}

#clickondarwin {
    font-size: 60%;
}

#bioseemorebtn {
    display: none;
}

@media (max-height: 600px) {
    .scrolldown {
        display: none;
    }
}

@media (max-width: 1024px) {
    .head {
        display: flex;
        justify-content: center;
    }
    .scrolldown {
        display: none;
    }
    .tile {
        width: 50vw;
    }
    #clickondarwin {
        display: none;
    }
    .darwin {
        display: none;
    }
}

@media (max-height: 590px) {
    .skills {
        display: none;
    }
    #h2myskills {
        display: none;
    }
}

@media (min-height: 800px) {
    .head {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    #partofthebio {
        display: none;
    }
    #bioseemorebtn {
        display: inline;
        margin-bottom: 5px;
        margin-left: 5px;
    }
}

@media (max-width: 380px) {
    .skills {
        font-size: 120%;
    }
}

#skilllevel {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-content: center;
}

.skillgraph {
    display: flex;
    position: absolute;
    justify-content: center;
    align-content: center;
    align-self: center;
    flex-direction: column;
}

.fahtml5skill,
.fajsskill,
.fadockerskill,
.fagithubskill,
.facliskill,
.fanetworkingskill,
.faelectronicsskill,
.facss3skill {
    display: inline;
    margin-right: 4px;
}

.skillhtml,
.skilljs,
.skilldocker,
.skillgithub,
.skillcli,
.skillnetworking,
.skillelectronics,
.skillcss {
    text-align: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 1rem;
}

.skillgraphhtml,
.skillgraphjs,
.skillgraphdocker,
.skillgraphgithub,
.skillgraphnetworking,
.skillgraphelectronics,
.skillgraphcli,
.skillgraphcss {
    background-color: #fff;
    width: 30vw;
    height: 3vh;
    border-radius: 8px;
    margin-left: 1rem;
    overflow: hidden;
}

.skillgraphhtmlcontent {
    background-color: #001324;
    width: 28vw;
    height: 3vh;
    border-radius: 8px;
}

.skillgraphcsscontent {
    background-color: #001324;
    width: 20vw;
    height: 100%;
    border-radius: 8px;
}

.skillgraphjscontent {
    background-color: #001324;
    width: 8vw;
    height: 100%;
    border-radius: 8px;
}

.skillgraphdockercontent {
    background-color: #001324;
    width: 23vw;
    height: 100%;
    border-radius: 8px;
}

.skillgraphgithubcontent {
    background-color: #001324;
    width: 20vw;
    height: 100%;
    border-radius: 8px;
}

.skillgraphclicontent {
    background-color: #001324;
    width: 23vw;
    height: 100%;
    border-radius: 8px;
}

.skillgraphelectronicscontent {
    background-color: #001324;
    width: 17vw;
    height: 100%;
    border-radius: 8px;
}

.skillgraphnetworkingcontent {
    background-color: #001324;
    width: 22vw;
    height: 100%;
    border-radius: 8px;
}

@media (max-width: 450px) {
    .skillhtml,
    .skilljs,
    .skilldocker,
    .skillgithub,
    .skillcli,
    .skillnetworking,
    .skillelectronics,
    .skillcss {
        margin-bottom: 18px;
        font-size: 2.5vh;
    }

    .skillgraphhtml,
    .skillgraphjs,
    .skillgraphdocker,
    .skillgraphgithub,
    .skillgraphnetworking,
    .skillgraphelectronics,
    .skillgraphcli,
    .skillgraphcss {
        background-color: #fff;
        width: 50vw;
        height: 2vh;
        border-radius: 8px;
        margin-left: 1rem;
        overflow: hidden;
    }
    .skillgraphhtmlcontent {
        width: 46.67vw;
    }

    .skillgraphcsscontent {
        width: 33.33vw;
    }

    .skillgraphjscontent {
        width: 13.33vw;
    }

    .skillgraphdockercontent {
        width: 38.33vw;
    }

    .skillgraphgithubcontent {
        width: 33.33vw;
    }

    .skillgraphclicontent {
        width: 38.33vw;
    }

    .skillgraphelectronicscontent {
        width: 28.33vw;
    }

    .skillgraphnetworkingcontent {
        width: 36.67vw;
    }
}

@media (max-height: 345px) {
    #projects {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    #projects img {
        display: none;
    }
}

@media (max-height: 504px) {
    .skillgraph {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    }

    .skillwrapper1,
    .skillwrapper2 {
    width: 50%;
    }

}